/* simple STYLES */
body{
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
    color: #434455;
}
.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
}
button {
    cursor: pointer;
    font-family: inherit
}
/* header styles */
.logo{
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase

}
.logo-span{
        color: #2E2F42;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase
}
.link-menu{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#2E2F42
}
.link-menu:hover,
.link-menu:focus{
    font-size: 16px;
        line-height: 1, 5;
        letter-spacing: 0, 02em;
        color: #404BBF
} 

.addres-main{
    font-style: normal
}
.link-addrs{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color:#434455
}
.link-addrs:hover,
.link-addrs:focus{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404BBF
}
/* Hero styles */
.hero-main{
    background-color: #2E2F42;
}
.hero-text{
        text-align: center;
        font-size: 56px;
        line-height: 1.07em;
        letter-spacing: 0.02em;
        color: #ffffff;
}

.botton-hero{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color:#ffffff;
        background-color: #4D5AE5;
}
.botton-hero:hover,
.botton-hero:focus{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0, 04em;
    background-color: #404BBF;
} 
/* Features styles */
.features-title{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* Team styles */
.team-title{
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
}
.team-section{
    background-color: #F4F4FD;
}
.team-member-box{
    background-color:#ffffff;
}
.team-member{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.team-member-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em; 
        color: #434455;
}
/* portfolio styles */
.portfolio-title{
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}
.portfolio-works{
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-works-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* footer styles */
.page-footer{
    background-color: #2E2F42;
}
.footer-text{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.32px;
        color: #F4F4FD;
}

.logo-span-footer{
    color: #F4F4FD;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase
}
.logo-footer{
    font-family: Raleway, sans-serif;
    color:#4D5AE5;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}